
@media screen and (max-width: 875px) {
  .button-container {
    margin: 10px 10px !important;
  }

  h2 {
    font-size: 15vw !important;
  }
}

@media screen and (max-width: 600px) {
  footer{
    margin-left:0 !important; 
  }
}

footer{
  margin-left:120px; 
}

.button-row-container {
  width: 250px;
  height: 50px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

/*** General Button Styles ***/
.button-container {
  display: inline-block;
  margin: 10px 10px;
  cursor: pointer;
  font-weight: 400;
  letter-spacing: 2px;
  -webkit-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  height: 45px;
  width: 200px;
}
.button-container .flipper {
  transition: all .5s ease-in-out;
  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: relative;
}
.button-container .button {
  height: 45px;
  width: 200px;
  border-radius: 3px;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  -webkit-box-shadow: 1px 2px 4px -1px rgba(60, 60, 60, 0.64);
  box-shadow: 1px 2px 4px -1px rgba(60, 60, 60, 0.64);
}
.button-container .button i.fa {
  color: white;
  font-size: 20px;
  margin: auto;
  text-shadow: .5px 1px 2px #3c3c3c;
}
.button-container .button.front {
  z-index: 10;
}
.button-container .button.back {
  color: white;
  font-size: 15px;
  text-transform: uppercase;
}

/* -------------------------------- 
			3D-Flip
-------------------------------- */
.button-flip3d-vertical1 .flipper-flip3d-vertical1 {
  transform-origin: 100% 22.5px;
}
.button-flip3d-vertical1 .front {
  transform: translateZ(22.5px);
  background-image: linear-gradient(90deg, #000, #3c3c3c);
}
.button-flip3d-vertical1 .back {
  -webkit-transform: rotateX(90deg) translateZ(22.5px);
  -ms-transform: rotateX(90deg) translateZ(22.5px);
  transform: rotateX(90deg) translateZ(22.5px);
  background-image: linear-gradient(90deg, #000, #3c3c3c);
}
.button-flip3d-vertical1:hover .flipper-flip3d-vertical1 {
  transform: rotateX(-90deg);
}

.button-flip3d-vertical2 .flipper-flip3d-vertical2 {
  transform-origin: 100% 22.5px;
}
.button-flip3d-vertical2 .front {
  transform: translateZ(22.5px);
  background-image: linear-gradient(90deg, #111, #000, #111);
}
.button-flip3d-vertical2 .back {
  -webkit-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(22.5px);
  -ms-transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(22.5px);
  transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateZ(22.5px);
  background-image: linear-gradient(90deg, #000, #111, #000);
}
.button-flip3d-vertical2:hover .flipper-flip3d-vertical2 {
  transform: rotateX(90deg);
}