body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #43cea2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
a{
  text-decoration: none;
}

.hp{
  text-align: center;
}
.linking{
	text-decoration: none;
	color: #fff;
}
.linking.menu{
	color: #000;
}
.paper{
	background-color: #00ACA1!important;
	color: #fff!important;
}